fint:
  application-id: fint-customer-gateway
  org-id: fintlabs.no
  kafka:
    topic:
      org-id: ${fint.org-id}
      domain-context: flais
    application-id: ${fint.application-id}
spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  kafka:
    consumer:
      group-id: ${fint.application-id}